.column2 {
    padding-left: 600px;
}

.column,
.colon {
  display: inline-block;
  vertical-align: top;
  font-size: 86px;
  line-height: 86px;
}

.column {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.colon {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(calc(50vh - 43px));
          transform: translateY(calc(50vh - 43px));
}
.colon:after {
  content: ':';
}

.num {
  -webkit-transition: opacity 500ms, text-shadow 100ms;
  transition: opacity 500ms, text-shadow 100ms;
  opacity: 0.025;
}
.num.visible {
  opacity: 1.0;
  text-shadow: 1px 1px 0px #336699;
}
.num.close {
  opacity: 0.35;
}
.num.far {
  opacity: 0.15;
}
.num.distant {
  opacity: 0.1;
}


$size: 86px;

body {
	text-align: center;
	background-color: hsl(210°, 5%, 8%);
	color: hsla(210, 20%, 90%, 0.89);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	overflow: hidden;
}

.column,
.colon {
	display: inline-block;
	vertical-align: top;
	font-size: $size;
	line-height: $size;
}

.column {
	transition: transform 300ms;
}

.colon {
	transition: transform 300ms;
	transform: translateY(calc(50vh - #{$size / 2}));
	
	&:after {
		content: ':';
	}
}

.num {
	transition: opacity 500ms, text-shadow 100ms;
		opacity: 0.025;
	
	&.visible {
		opacity: 1.0;
		text-shadow: 1px 1px 0px hsl(210, 50%, 40%);
	}
	&.close {
		opacity: 0.35;
	}
	&.far {
		opacity: 0.15;
	}
	&.distant {
		opacity: 0.1;
	}
}
html, body{
	font-family: 'Raleway', sans-serif;
	/* [disabled]font-size: 100%; */
	background: #28282f;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin: 0;
	font-size: 16px;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.logo {
  padding-top: 21em;
    text-align: left;
}
.logo a {
	display: block;
	font-size: 20px;
}
.logo  a h1{
  color:#18a3b7;
  font-size:6em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.logo  a h1:hover{
 color:#18a3b7;	
 text-decoration:none;
}
.logo  a h1 span,.logo  a  span:hover{
 color: #fff;
 font-size: 1.5em;
 margin-left: 0.9em;
 font-weight:400;
 font-family: 'Cinzel Decorative', cursive;
 line-height: 1.5em;
}
/*--nav------*/
i.icon-align-justify{
   width: 35px;
  height: 35px;
  background: url(../images/nav.png)no-repeat 0px 0px;
  display: inline-block;
  cursor: pointer;
  margin: 0.9em 0.5em;
}
q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
h1{margin:40px 0;font-size:40px;line-height:40px;font-weight:bold;text-shadow:0px 1px 1px #888;}
.btn{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;display:inline-block;padding:10px 20px;height:50px;background-color:#e55647;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;-webkit-box-shadow:0 3px 0 0 #d24536;box-shadow:0 3px 0 0 #d24536;line-height:30px;font-size:16px;font-weight:bold;text-shadow:0px 1px 1px #888;}
.btn:active,.btn.active{top:1px;-webkit-box-shadow:0 1px 0 0 #d24536;box-shadow:0 1px 0 0 #d24536;}.btn.submit{font-size:12px;height:30px;line-height:30px;padding:0 10px;margin:0;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}.btn-small{height:30px;font-size:12px;line-height:10px;}
a.btn-small span.btn{height:30px;}
.valign{
position:relative;
display:table-cell;
vertical-align:middle;
}
.vertical {
  word-wrap: break-word;
  width: 7px;
  display: inline-block;
  line-height: 16px;
  font-size:0.9em;
  padding: 0.3em 0 0 0.9em;
  font-weight:400;
}
.navbar{background-color:#28282f;
position:fixed;left:0;width:53px;height:100%;
-webkit-box-shadow:1px 0 1px 0 rgba(0,0,0,.15);
box-shadow:1px 0 1px 0 rgba(0,0,0,.15);
  top: 0;
}
.navbar a.menu{  
 display: block;
  margin: 0;
  width: 52px;
  height: 50px;
 background-color: #18a3b7;}
.navbar a.link{  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  height: 172px;
  background-color:#28282f;
  }
a.link.hme {
    height: 120px;
}
a.link.abt {
  height: 130px;
}
a.link.tdz {
    height: 130px;
}
.navbar a.link span.active,.navbar a.link span.hover{
display:table;position:absolute;width:100%;height:100%;
transform-origin:0% 50% 0px;-webkit-transform-origin:0% 50% 0px;
transition:.2s;-webkit-transition:.2s;border-bottom:1px solid #222;
}
.navbar a.link span.active{
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
left:0;background-color:#28282f;
}
.navbar a.link:hover span.active{
background-color:#999;transform:matrix3d(0,0,1,0,0,1,0,0,-1,0,0,0,-50,0,0,1);
-webkit-transform:matrix3d(0,0,1,0,0,1,0,0,-1,0,0,0,-50,0,0,1);}
.navbar a.link span.active .vertical{color: #18a3b7;
}
.navbar a.link span.hover{
transform:matrix3d(0,0,-1,0.00166,0,1,0,0,1,0,0,0,0,0,0,1);
-webkit-transform:matrix3d(0,0,-1,0.00166,0,1,0,0,1,0,0,0,0,0,0,1);
left:100%;
background-color: #18a3b7;
color:#fff;
}
.navbar a.link:hover span.hover{
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,-0.00166,-50,0,0,1);
-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,-0.00166,-50,0,0,1);
}
.a.link.active {
  background-color: #18a3b7;
  color:#fff;
}
.header{
   background: url(../images/banner3.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height:800px;
}
.main {
  margin-left:53px;
}
span.menu{
	  width: 53px;
	  height: 44px;
	  background: url(../images/nav.png)no-repeat 7px 10px;
	  display: inline-block;
	  float: left;
	  cursor: pointer;
	  z-index: 9999;
	  background-color:#18a3b7;
	    position: fixed;
	}
	.top-menu{
		width:100%;
		display: none;
		text-align:center;
		background:#fff;
		padding:0;
		margin-top:10px;
	}
	i.icon-align-justify, .navbar a.menu {
  width: 35px;
  height: 35px;
  background: url(../images/nav.png)no-repeat 0px 0px;
  display: inline-block;
  cursor: pointer;
  margin: 0.9em 0.5em;
  display: none;
}
.navbar {
  position: fixed;
  left: 0;
  width: 53px;
  top: 43px;
}
/*-------------*/
.about {
  padding: 3em 0;
  background-color: #fff;
  margin: 0 auto;
}
.abt-text {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
}
.about img {
  width: 100%;
}
.second-head {
	text-align: center;
	padding: 1em 0;
	height: auto;
	font-family: Helvetica, Arial, sans-serif;
}
.second-head h3{
  color: #18a3b7;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.second-head p{
  margin: 0 auto;
  text-align: center;
   width: 49%;
  line-height: 1.8em;
  color: #28282f;
}
p.ab {
  font-size: 0.9em;
  line-height: 1.8em;
  margin-top: 1em;
  color: #28282f;
}
/*----team-----*/
.team-section{
  background-color: #F3F3F3;
  padding: 3em 0 4em 0;
}
.team-grids h5 {
 color: #18a3b7;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 0.7em 0 0.3em 0;
}
.team-grids img{
  width:100%;
}
.team-grids p {
  color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.8em;
  text-align:center;
}
.teams {
  margin: 0 auto;
  width: 80%;
    padding-top: 2em;
}
/*----trends----*/
.trends {
  background-color: #F3F3F3;
    padding: 3em 0 4em 0;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	  width: 80%;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height:1000px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.grid figure h2 span {
	font-weight:500;
	color:#fff;
}
.grid figure h2,
.grid figure p {
	margin: 0;
}
/***** Terry *****/
/*-----------------*/

figure.effect-terry {
	background: #34495e;
}
figure.effect-terry figcaption {
	padding: 1em;
}
figure.effect-terry figcaption::before,
figure.effect-terry figcaption::after {
	position: absolute;
	width: 200%;
	height: 200%;
	border-style: solid;
	border-color:#28282f;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
figure.effect-terry figcaption::before {
	right: 0;
	bottom: 0;
	border-width: 0 70px 60px 0;
	-webkit-transform: translate3d(70px,60px,0);
	transform: translate3d(70px,60px,0);
}

figure.effect-terry figcaption::after {
	top: 0;
	left: 0;
	border-width: 15px 0 0 15px;
	-webkit-transform: translate3d(-15px,-15px,0);
	transform: translate3d(-15px,-15px,0);
}

figure.effect-terry img,
figure.effect-terry p a {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-terry img {
	opacity: 0.85;
}

figure.effect-terry h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.4em 10px;
	width: 50%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	  color: #18a3b7;
}
@media screen and (max-width: 920px) {
	figure.effect-terry h2 {
		padding: 0.75em 10px;
		font-size: 120%;
	}
}

figure.effect-terry p {
	float: right;
	clear: both;
	text-align: left;
	text-transform: none;
	font-size: 111%;
}

figure.effect-terry p a {
	display: block;
	  margin-bottom: 0.5em;
	color: #fff;
	opacity: 0;
	-webkit-transform: translate3d(90px,0,0);
	transform: translate3d(90px,0,0);
}

figure.effect-terry p a:hover,
figure.effect-terry p a:focus {
	color: #f3cf3f;
}
a  i.download,a  i.heart,a i.share,a i.tag{
 width:32px;
 height:32px;
 display:inline-block;
 background:url(../images/icon-spt.png) no-repeat 0px 0px;
   margin-right: -0.4em;
}
a  i.download:hover{
 background:url(../images/icon-spt.png) no-repeat 0px -32px;
}
a  i.heart{
  background:url(../images/icon-spt.png) no-repeat -32px 0px;
}
a  i.heart:hover{
  background:url(../images/icon-spt.png) no-repeat -32px -32px;
}
a  i.share{
  background:url(../images/icon-spt.png) no-repeat  -64px 0px;
}
a  i.share:hover{
  background:url(../images/icon-spt.png) no-repeat  -64px -32px;
}
a  i.tag{
  background:url(../images/icon-spt.png) no-repeat -96px 0px;
}
a  i.tag:hover{
  background:url(../images/icon-spt.png) no-repeat -96px -32px;
}
figure.effect-terry:hover figcaption::before,
figure.effect-terry:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-terry:hover img {
	opacity: 0.6;

}
figure.effect-terry:hover h2,
figure.effect-terry:hover p a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-terry:hover p a {
	opacity: 1;
}

figure.effect-terry:hover p a:first-child {
	-webkit-transition-delay: 0.025s;
	transition-delay: 0.025s;
}

figure.effect-terry:hover p a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-terry:hover p a:nth-child(3) {
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}

figure.effect-terry:hover p a:nth-child(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
/*----featured-----*/
.featured-section {
   padding: 3em 0 4em 0;
   background-color: #fff;
}
.featured-video {
  padding: 3em 0 0 0;
    width: 80%;
  margin: 0 auto;
}
.video iframe {
   width: 580px;
  height: 400px;
}
.video-text h4{
   color: #000;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0 0 0.6em 0;
}
.video-text p,.video-text p.second {
  line-height: 1.8em;
  color: #28282f;
  font-size:0.9em;
}
 p.second {
  margin: 0.5em 0 0 0;
 }
 a.read {
   text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em 2em;
  display: inline-block;
  background: #1fadc5;
  margin: 2em 0 0 0;
}
 a.read:hover {
  background:#28282f;
 }
/*----bottom-----*/
 .bottom-section {
  background: url(../images/bottom.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height: 500px;
}
.second-head.two {
  text-align:center;
    padding: 12em 0 0 0;
	  margin: 0 auto;
  width: 80%;
}
.second-head.two h3 {
  color: #18a3b7;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.second-head.three {
	  margin: 0 auto;
  width: 80%;
  padding:1em 0;
}
.second-head.three h3 {
  color: #18a3b7;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.second-head.three p {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  line-height: 1.8em;
  color: #28282f;
}
/*-----designer---------*/
.designer-section {
  padding: 3em 0 4em 0;
  background-color: #fff;
}
.designer-top {
  margin: 0 auto;
  width: 80%;
}
.designer-text p,.designer-top  p{
  line-height: 1.8em;
  color: #28282f;
  font-size: 0.9em;
}
.designer-top  p{
  margin-top:0.6em;
}
ul.category li {
  list-style: none;
  display: block;
}
ul.category li  a {
  font-size: 0.9em;
  margin: 0 0 1em 0;
  color: #28282f;
  line-height: 1.8em;
  text-decoration: none;
  padding-left:1em;
  background: url(../images/arrow.png) no-repeat 0px 6px;
}
ul.category li a:hover {
  padding-left:2em;
  color:#18a3b7;
}
ul.category {
  margin: 1em 0 1em 2em;
}
.designer-text a h4,.designer-text h4{
   color: #18a3b7;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.designer-grids {
  margin-top: 1em;
}
.designer-grid img {
  margin: 0;
    width: 100%;
}
.single {
   margin: 0 auto 0;
  width: 80%;
  padding-top: 2em;
}
.leave h4 ,.comments h4 {
    color: #18a3b7;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}
.comment-box {
  padding: 2em 2em;
  border: 1px dashed #18A3B7;
  text-align: center;
  margin-top:3em;
 }
 .comment-box h5 { 
 color: #18a3b7;
  font-size: 1.3em;
 }
#commentform label {
  display: block;
  font-size: 1em;
  color: #000;
  font-weight: 400;
  margin: 0.5em 0;
}
#commentform input[type="text"] {
	padding: 8px 15px;
  width: 100%;
  color: #444;
  font-size: 1em;
  border: 1px solid #eee;
  outline: none;
  display: block;
}
#commentform textarea {
	padding: 13px 20px;
	width: 100%;
	color: #444;
	font-size:0.85em;
	outline: none;
	height:150px;
	display: block;
	resize: none;
	font-weight:400;
	border: 1px solid #eee;
	background:none;
}
p.form-submit {
  margin: 2em 0;
}
#commentform input[type="submit"] {
  padding: 0.8em 3em;
  color: #fff;
  font-size: 1.2em;
  font-weight:300;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-appearance: none;
  background:#18a3b7;
  outline: none;
  border: none;
}
#commentform input[type="submit"]:hover{
 background:#28282f;
}
.comments {
  margin: 0 auto 0;
  width: 80%;
}
/*----contact-----*/
.header.two {
  background: url(../images/head-bg.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height: 200px;
}
.logo.two {
  padding-top: 3em;
}
.contact {
   padding: 3em 0 3em 0;
   background-color: #fff;
}
.logo.two h1 {
  text-align: left;
}
.logo.two a h1 {
  font-size: 4em;
  margin-left: 6.5em;
}
.logo.two a h1 span,.logo.two a h1 span:hover {
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
  line-height: 1.5em;
}
.contact-form {
  padding: 3em 0 4em 0;
    margin: 0 auto;
  width: 80%;
}
.contact-grid h3, .contact-in h3{
 font-size: 1.7em;
  color: #000;
  margin-bottom: 1em;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
}
p.your-para {
	color: #28282f;
	margin: 0;
	font-size: 16px;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding:0.8em;
  margin:0.6em 0;
  background: #fff;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height:180px;
}
p.sed-para{
  font-size: 1.2em;
  padding: 1em 0 0.6em;
  color: #18a3b7;
}
p.para1{
	  color: #28282f;
	font-size: 0.9em;
	line-height:1.8em;
}
.address-more,.address-left{
	float:left;
	width:40%;
}
.address-more p, .address-left p{
	width: 100%;
     color: #28282f;
     font-size: 0.9em;
    line-height: 1.8em;
}
.more-address{
	padding: 3em 0;
}
.map {
    padding: 0 0px;
	  margin: 0 auto;
  width: 80%;
}  
.map iframe {
  width: 100%;
  height:400px;
  border: none;
}
.send input[type="submit"] {
  font-size: 1.2em;
  background:#18a3b7;
  padding: 0.6em 2em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.send input[type="submit"]:hover {
  background: #000;
}
/*----footer--------*/
.footer-section {
  padding:1em 0;
  background:#28282f;
}
.footer-grid p,p.sub {
  font-size: 0.85em;
  line-height: 1.8em;
  color:#A1A3AB;
}
.footer-grids{
 padding:1em 0;
   width: 80%;
  margin: 0 auto;
}
p.sub {
 margin-top:1.3em;
}
ul.tag li  {
  display: inline-block;
  list-style: none;
  margin: 15px 0px 6px -1px;
}
ul.tag li a {
  padding: 0.7em 0.8em;
  background: #232323;
  color:#A1A3AB;
  font-size: 0.9em;
    margin: 0;
}
ul.tag li a:hover{ 
	text-decoration:none;
	opacity:0.7;
	color:#18a3b7;
}
.flickr-grid a img {
  width: 100%;
}
.flickr-grid {
  float: left;
  width: 32%;
  margin: 0 0.1em .2em;
}
.footer-grids h4 {
  font-size: 1.2em;
    font-family: 'Cinzel Decorative', cursive;
  font-weight:400;
  color: #fff;
}
.border2 {
  border-bottom: 2px ridge rgba(72, 72, 76, 0.88);
  padding: 0.5em 0 0.5em 0;
  width: 52%;
  margin-bottom: 1.3em;
}
ul.tw li{
display:block;
margin-bottom:0.5em;
font-size:0.9em;
line-height:1.8em;
color:#fff;
}
ul.tw p{
float:left;
}
 a i.square-3 {
  width: 20px;
  height: 20px;
  background: url("../images/tw.png") no-repeat 0px 0px;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.icon-text p {
  color:#A1A3AB;
  font-size:0.9em;
  line-height: 1.6em;
}
.icon-3-square {
  float: left;
  width:10%;
  margin-right: 2%;
}
.icon-text {
  float: left;
  width: 86%;
}
.icon-text h5 {
   color: #fff;
  font-size: 0.9em;
  margin: 0.7em 0;
  text-transform: uppercase;
  font-weight: 400;
}
.icon-text a {
  color: #D7D7D8;
    margin: 0;
}
.icon-text a:hover {
color:#18a3b7;
}
/*----copyright-------*/
.copyright{
  padding: 1.2em 1em;
  background:#232323;
  text-align:center;
}
p.write {
  color: #fff;
  font-size:0.9em;
}
p.write a{
color:#18a3b7;
  margin: 0;
}
p.write a:hover{
 text-decoration:underline;
}
/*----top-move------*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--Responsive*--*/
@media (max-width:1440px){
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 725px;
	}
	.logo {
	  padding-top: 17em;
	}
	.video iframe {
	  width: 500px;
	  height: 400px;
	}
}
@media (max-width:1366px){
.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height:650px;
	}
	.logo.two a h1 {
	  font-size: 3.5em;
	}
	.designer-text a h4, .designer-text h4 {
	  font-size: 1.9em;
	  }
	.second-head h3,.second-head.two  h3,.second-head.three h3 {
	  font-size: 2.3em;
	  }
	  .contact-grid textarea {
	  resize: none;
	  min-height: 160px;
	}
	.bottom-section {
	  background: url(../images/bottom.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 440px;
	}
	.second-head.two {
	  padding: 10em 0 0 0;
	}
	.video iframe {
	  width: 520px;
	  height: 400px;
	}
	.second-head p {
	  width: 54%;
	}
	.flickr-grid {
	  float: left;
	  width: 31%;
	 }
	 .logo {
	  padding-top: 17em;
	  padding-left: 5em;
	}
}
@media (max-width:1280px){
	.video iframe {
	  width: 460px;
	  height: 400px;
	}
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 662px;
	}
	.second-head h3, .second-head.two h3, .second-head.three h3 {
	  font-size: 2.2em;
	}
	p.do {
	  display: none;
	}
	.designer-section {
	  padding: 2em 0 3em 0;
	}
	.team-grids h5 {
  font-size: 1.25em;
  }
}
@media (max-width:1024px){
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 459px;
	}
	.second-head h3, .second-head.two h3,.second-head.three h3 {
	  font-size: 2.1em;
	}
	.second-head p {
	margin: 0 auto;
	text-align: center;
	width: 64%;
	color: #FFFFFF;
	font-size: 36%;
	}
	.grid figure h2 {
	  word-spacing: -0.10em;
	  font-weight: 300;
	  font-size: 1em;
	}
	.logo {
	   padding-top: 9em;
	   padding-left: 1em;
	}
	.logo a h1 {
	  font-size: 4em;
	  }
	 .video iframe {
	  width: 370px;
	  height: 390px;
	}
	.video-text h4 {
	  font-size: 1.7em;
	  }
	 .video-text p.second{
	 display:none;
	 }
	 .container {
	  width:800px;
	}
	.logo a h1 span, .logo a span:hover {
	color: #FFFFFF;
	font-family: Raleway, sans-serif;
	  }
	  .second-head h3, .second-head.two h3,.second-head.three h3 {
	  font-size: 2em;
	}
	.contact-grid h3, .contact-in h3 {
	  font-size: 1.3em;
	  }
	  p.sed-para {
	font-size: 36px;
	font-family: "楷体";
	  }
	  .contact-grid input[type="text"], .contact-grid textarea {
	  padding: 0.6em;
	  margin: 0.6em 0;
	  font-size: 0.8em;
	}
	.contact-form {
	  padding: 3em 0 1em 0;
	  }
	  .designer-text a h4, .designer-text h4 {
	  font-size: 1.5em;
	}
	.team-grids h5 {
	  font-size: 1.1em;
	}
	.bottom-section {
	  background: url(../images/bottom.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 385px;
	}
	.second-head.two {
	  padding: 7em 0 0 0;
	}
	.second-head.two  h3{
	  line-height:1.6em;
	}
	.flickr-grid {
	  float: left;
	  width: 30%;
	  margin: 0 0.1em .2em;
	}
	p.sub {
	  margin-top: 1em;
	}
	.footer-grid p, p.sub {
	  font-size: 0.8em;
	  }
	  ul.tag li {
	  margin: 7px 0px 6px -3px;
	}
	ul.tag li a {
	  padding: 0.7em 0.7em;
	  font-size:0.8em;
	  }
	  .icon-text p,.icon-text h5 {
	   font-size:0.8em;
	  }
	  .footer-grids h4 {
	  font-size: 1em;
	  }
	  .leave h4, .comments h4 {
	  font-size: 1.6em;
	  }
	 .designer-grid {
	  float: left;
	   width: 25%;
	}
	.icon-3-square {
	  width: 11%;
	 }
	 .designer-section {
	  padding: 2em 0 3em 0;
	}
	figure.effect-terry p a {
	 display: block;
	 margin-bottom: 0.1em;
	}
	.more-address {
	  padding: 1em 0;
	}
	.second-head.three p {
	  width: 90%;
	  }
	  a.link.hme {
	  height: 100px;
	}
	a.link.abt {
	  height: 100px;
	}
	a.link.tdz {
	height: 117px;
	}
	a.link.con{
	  height: 102px;
	}
	.featured-video {
	  padding: 1em 0 0 0;
	}
  a.read {
	  margin: 0.9em 0 0 0;
	}
	.logo.two a h1 {
	  font-size: 3.5em;
	  margin-left: 4.3em;
	}
	.designer-top,.contact-form,.abt-text,.teams,.featured-video,.footer-grids {
	  margin: 0 auto;
	  width: 90%;
	}
	.grid {
	  width: 90%;
	}
}
@media (max-width:768px){
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 398px;
	}
	.logo a h1 {
	  font-size: 3.5em;
	}
	.container {
	  width: 604px;
	}
	.about {
	  padding:2em 0;
	  }
	  .second-head p {
	  margin: 0 auto;
	    width: 76%;
	  font-size:0.85em;
	}
	.grid figure {
	  margin: 10px 1%;
	  min-width: 286px;
	  max-width: 480px;
	  width: 47%;
	  }
	  figure.effect-terry p {
	  text-align: left;
		font-size: 17%;
	}
	.grid figure h2 {
	  word-spacing: -0.360em;
	  font-size: 0.9em;
	}
	.second-head.three p {
	  width: 100%;
	}
	.footer-grid {
	  margin-bottom: 1.5em;
	}
	.icon-3-square {
	  float: left;
	  width: 4%;
	  margin-right: 2%;
	}
	.trends {
	  padding: 2em 0 3em 0;
	}
	.second-head h3, .second-head.two h3,.second-head.three h3 {
	  font-size: 1.9em;
	}
	.video iframe {
	   width: 540px;
	  height: 400px;
	}
	.video-text {
	  float: right;
	  width:100%;
	  margin-top: 2em;
	}
	.bottom-section {
	  background: url(../images/bottom.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 342px;
	}
	.video-text h4 {
	  font-size: 1.6em;
	}
	.featured-section {
	  padding: 2em 0 3em 0;
	}
	.vertical {
	  width: 7px;
	  line-height: 16px;
	  font-size: 0.9em;
	  padding: 0.3em 0 0 1.3em;
	}
	.logo.two a h1 {
	  font-size: 3em;
	}
	.team-grids {
	  float: left;
	  width: 50%;
	  margin-top: 1em;
	}
	.header.two {
	  background: url(../images/head-bg.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 160px;
	}
	.contact-in h3 {
	  font-size: 1.3em;
	  margin: 2em 0 0 0;
	}
	.contact {
	  padding: 2em 0 0 0;
	}
	.contact-form {
	  padding: 1em 0 1em 0;
	}
	.map iframe {
	  width: 100%;
	  height: 300px;
	}
	.teams {
	  margin: 0 auto;
	  width: 90%;
	  padding-top: 0em;
	}
	.contact {
	   padding: 2em 0 2em 0;
	}
	.grid figure {
	  margin: 10px 1%;
	   min-width: 266px;
	  max-width: 480px;
	  width: 47%;
	}
	.logo.two {
	  padding-top: 3em;
	  text-align: center;
	  padding-left: 0em;
	}
	.grid {
	  padding: 1em 0 4em;
	  width: 90%;
	}
	.grid {
	  padding: 1em 0 4em;
	  width: 90%;
	}
	.featured-video,.footer-grids,.designer-top,.contact-form,.abt-text,.single,.comments {
	  width: 90%;
	}
	.second-head.two {
	  width: 90%;
	}
	.logo.two a h1 {
	  font-size: 3em;
	  margin-left: 3.5em;
	}
	.map {
	  margin: 0 auto;
	  width: 90%;
	}
	.map {
	  width: 87%;
	}
}
@media (max-width:640px){
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 346px;
	}
	.navbar {
	  position: fixed;
	  left: 0;
	  width: 53px;
	  top: 43px;

	}
	.container {
	   width: 581px;
	}
	.logo a h1 {
	  font-size: 3em;
	}
	.logo {
	   padding-top: 7em;
	   padding-left: 2.5em;
	}
	.second-head h3,.second-head.two h3,.second-head.three h3 {
	  font-size: 1.8em;
	}
	.trends {
	  padding: 1em 0 2em 0;
	}
	figure.effect-terry figcaption::before {
	  border-width: 0 51px 45px 0;
   }
   .grid figure {
	  margin: 10px 1%;
	  min-width: 239px;
	  max-width: 480px;
	  width: 38%;
	}
	figure.effect-terry p {
	  text-align: left;
	  font-size: 0%;
	}
	.video iframe {
	   width: 480px;
	  height: 400px;
	}
	.second-head.two h3{
	 font-size:1.4em;
	}
	.bottom-section {
	  background: url(../images/bottom.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 261px;
	}
	.second-head.two {
	  padding: 5em 0 0 0;
	}
	.grid figure h2 {
	  word-spacing: -0.360em;
	  font-size: 0.65em;
	}
	a i.tag {
	  background: url(../images/icon-spt.png) no-repeat -96px 0px;
	  display: none;
	}
	a i.share {
	  background: url(../images/icon-spt.png) no-repeat -64px 0px;
	  display: none;
	}
	figure.effect-terry figcaption {
	  padding: 0.5em;
	}
	.team-grids p {
	  font-size: 0.85em;
	  }
	  .team-section {
	  padding: 2em 0 2em 0;
	}
	featured-video {
	  padding: 1em 0 0 0;
	 }
	 .second-head.two {
	  padding: 3em 0 0 3em;
	}
	.logo.two a h1 {
	  font-size: 2em;
	  margin-left: 5.8em;
	}
	.designer-text a h4, .designer-text h4 {
	  font-size: 1.4em;
	}
	.designer-grid {
	  float: left;
	  width: 45%;
	}
	.second-head.three {
	  margin: 0 auto;
	  width: 89%;
	  padding: 1em 0;
	}
	.comment-box {
	  padding: 2em 2em; 
	  margin-top: 1em;
	}
	.icon-3-square {
	  float: left;
	  width: 10%;
	  margin-right: 2%;
	}
	.copyright {
	padding: 1em 3em;
  }
	  p.write {
	  font-size: 0.8em;
	  margin-top: 0px;
	}
	a.read {
	  margin: 1em 0 0 0;
	}
	  .second-head.two {
	  width: 90%;
	}
	.featured-video, .second-head.two, .footer-grids {
	  padding: 1em 0;
	  width: 80%;
	}
	.second-head.two {
	  padding: 1em 0;
	  width: 80%;
	  }
	  .bottom-section {
	  background: url(../images/bottom.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 219px;
	}
	.main {
	  margin-left: 0;
	}
	.grid {
	  padding: 1em 0 4em;
	  width: 80%;
	}
	.featured-video,.footer-grids,.designer-top,.contact-form,.abt-text,.single,.comments {
	  width: 80%;
	}
	.second-head.two {
	  width:80%;
	}
	.map {
	  margin: 0 auto;
	   width: 80%;
	}
	.teams {
	  margin: 0 auto;
	  width: 80%;
	  padding-top: 0em;
	}
	p.lop {
	  margin: 0 0 0 4%;
	}
	.single,.comments {
	  margin: 0 0 0 12%;
	}
}
@media (max-width:480px){
	.container {
	  width: 320px;
	}
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	 min-height: 222px;
	}
	.logo {
	 padding-top: 3em;
	}
	.about,.featured-video,.second-head.two,.footer-grids {
	  padding: 1em 0;
	}
	.second-head p {
	  margin: 0 auto;
	  width:70%;
	  font-size: 0.85em;
	}
	.grid {
	  padding: 1em 0 4em;
	  width: 70%;
	}
	.grid figure {
	  margin: 10px 1%;
	  min-width: 300px;
	  max-width: 480px;
	  width: 48%;
	}
	.second-head h3, .second-head.two h3,.second-head.three h3 {
	  font-size: 1.6em;
	}
	.video iframe {
	  width: 300px;
	  height: 250px;
	}
	a i.share {
	  background: url(../images/icon-spt.png) no-repeat -64px 0px;
	  display:block;
	}
	.video-text h4 {
	  font-size: 1.3em;
	}
	.featured-section {
	  padding: 1em 0 2em 0;
	}
	.team-grids {
	  float: left;
	  width: 100%;
	}
	.second-head.three {
	  margin: 0 auto;
	  width: 100%;
	  margin-bottom: 1em;
	  padding: 0;
	}
	.logo.two a h1 {
	  font-size: 1.8em;
	  margin-left: 2.3em;
	}
	.header.two {
	  background: url(../images/head-bg.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 117px;
	}
	.logo.two {
	  padding-top: 1em;
	  text-align: center;
	}
	.designer-grid {
	  float: left;
	  width: 100%;
	    margin-bottom: 1em;
	}
	.designer-section {
	  padding: 1em 0 2em 0;
	}
	.single {
	  margin: 0 auto 0;
	  width: 70%;
	  padding-top: 2em;
	}
	.comments {
	  margin: 0 auto 0;
	  width:70%;
	}
	#commentform input[type="submit"] {
	  padding: 0.6em 2em;
	  font-size: 1.1em;
	}
	.designer-top {
	  margin: 0 auto;
	  width: 70%;
	}
	.leave h4,.comments h4 {
	  font-size: 1.45em;
	}
	a i.tag {
	  background: url(../images/icon-spt.png) no-repeat -96px 0px;
	  display:block;
	}
	figure.effect-terry p a {
	  display: block;
	  margin-bottom: 0.9em;
	}
	.footer-section {
	  padding: 0.5em 0;
	}
	.footer-grid.flickr {
	  margin: 0px;
	}
	ul.category {
	  margin: 1em 0 1em 0em;
	}
	.contact {
	    padding: 1em 0 1em 0;
	}
	.abt-text {
	  width: 70%;
	  padding-top: 0em;
	}
	.featured-video, .footer-grids,.designer-top, .contact-form, .abt-text, .single, .comments {
	  width: 80%;
	   margin: 0 auto 0 16%;
	}
	.map {
	  margin: 0 auto 0 13%;
	  width: 80%;
	}
	.single,.comments {
	  margin: 0 0 0 15%;
	}
	.teams {
	  margin: 0 auto 0 13%;
	  width: 81%;
	  padding-top: 0em;
	}
	.second-head.two {
	  width: 98%;
	}
}
@media (max-width:320px){
	.logo a h1 span, .logo a span:hover {
	  font-size: 0.8em;
	}
	.logo a h1 {
	  font-size: 2em;
	}
	.second-head h3, .second-head.two h3, .second-head.three h3 {
	    font-size: 1.4em;
		margin-bottom: 0.1em;
	}
	.header {
	  background: url(../images/banner3.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 172px;
	}
	.container {
	  width: 200px;
	}
	.second-head p {
	  margin: 0 auto;
	  width:80%;
	  font-size: 0.8em;
	}
	.second-head.two p {
	  margin: 0 auto;
	   width: 100%;
	  font-size: 0.8em;
	}
	.abt-text,.featured-video, .second-head.two,.footer-grids {
	  padding: 1em 0;
	  width:70%;
	    margin: 0 auto 0 18%;
	}
	.featured-video{
	  padding-left: 1em;
	}
	.grid {
	  padding: 1em 0 4em;
	  width: 60%;
	}
	.grid figure {
	  margin: 10px 1%;
	  min-width: 213px;
	  max-width: 480px;
	  width: 43%;
	}
	.second-head {
	  padding: 0.5em 0 0 2em;
	}
	.second-head.three{
	  padding: 0.5em 0 0 0.8em;
	}
	.video iframe {
	  width: 200px;
	  height: 150px;
	}
	.teams {
	   margin: 0 auto 0 24%;
  width: 70%;
  padding-top: 0em;
	}
	.team-grids h5 {
	  font-size: 1em;
	}
	.video-text {
	  float: right;
	  width: 100%;
	  margin-top: 1em;
	}
	.video-text h4 {
	  font-size: 1.1em;
	  line-height: 1.6em;
	  margin:0 0 0.3em 0;
	}
	.second-head.two h3 {
	  font-size: 1em;
	}
	a.read {
	  padding: 0.6em 1em;
	  font-size: 0.8em;
	  margin: 0.7em 0 0 0;
	}
	  .header.two {
	  background: url(../images/head-bg.jpg) no-repeat 0px 0px;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 56px;
	}
	.logo.two a h1 {
	   font-size: 1.7em;
	   padding-top: 10px;
	   margin-left: 1.3em;
	}
	.logo.two {
	  padding-top: 0em;
	  text-align: center;
	}
	.logo.two a h1 span, .logo.two a h1 span:hover {
	   font-size: 1.1em;
	   display:block;
	   margin-top: -7px;
	}
	  figure.effect-terry figcaption::before {
	  border-width: 0 51px 33px 0;
	}
	.grid figure h2 {
	  word-spacing: -0.360em;
	  font-size: 0.55em;
	}
	.vertical {
	  width: 7px;
	  line-height: 16px;
	  font-size: 0.75em;
	  padding: 0em 0 0 1.3em;
	  }
	.navbar a.link {
	  position: relative;
	  display: block;
	  margin: 0;
	  width: 100%;
	  height: 149px;
	  }
	  a.link.hme,a.link.abt,a.link.tdz,a.link.con  {
	  position: relative;
	  display: block;
	  margin: 0;
	  width: 100%;
	  height: 77px;
	}
	a.link.abt {
	  height:87px;
	}
	a.link.tdz {
	  height:103px;
	}
	a.link.cont {
	  height:150px;
	}
	  p.ab {
	  font-size: 0.8em;
	  padding-left: 1em;
	  overflow:hidden;height:90px;
	    padding: 0;
	}
	.video-text p{
	  line-height: 1.8em;
	  color: #28282f;
	  font-size: 0.8em;
	  overflow: hidden;
	  height: 118px;
	}
	.second-head.three p {
	  width: 100%;
	  font-size: 0.8em;
	}
	.footer-grid p, p.sub {
	  font-size: 0.8em;
	  margin-top: 0.3em;
	}
	.copyright {
	  padding: 0.5em 3em;
	}
	.designer-top p {
	  margin-top: 0.5em;
	  font-size: 0.8em;
	}
	ul.category li a {
	font-size: 0.8em;
	}
	.designer-text a h4, .designer-text h4 {
	  font-size: 1.2em;
	}
	.contact-form {
	  padding: 1em 0 1em 0;
	  width: 70%;
	  margin: 0 auto 0 23%;
	}
	.contact-grid h3, .contact-in h3 {
	  font-size: 1.1em;
	  margin-bottom: 0.5em;
	}
	p.your-para ,p.sed-para,p.para1 {
	  font-size: 0.8em;
	}
	.contact-grid textarea {
	  min-height: 83px;
	}
	.contact-in h3 {
	  font-size: 1.1em;
	  margin:0.6em 0 0 0;
	  line-height: 1.4em;
	}
	p.para1 {
	  font-size: 0.8em;
	  overflow: hidden;
	  height: 117px;
	}
	.address-more p, .address-left p {
	  width: 100%;
	  font-size: 0.8em;
	  }
	  .address-more, .address-left {
	  float: left;
	  width: 100%;
	}
	.map {
	  width: 70%;
	  padding-left: 1em;
	}
	.map iframe{
	 height:100px;
	} 
	.second-head.two {
	  padding: 1em 0;
	  width: 70%;
	  padding-left: 1em;
	}
	.trends {
	  padding: 1em 0 1em 0;
	}
	.contact {
	   padding: 1em 0 1em 0;
	}
	.leave h4, .comments h4 {
	  font-size: 1.1em;
	}
	.comment-box h5 {
	  font-size: 0.9em;
	}
	p.form-submit {
	  margin: 1em 0;
	}
	#commentform input[type="submit"] {
	  padding: 0.5em 2em;
	  font-size: 1em;
	}
	.vertical {
	  width: 7px;
	  line-height: 13px;
	  font-size: 0.7em;
	  padding:0  1.5em ;
	  }
	  .navbar a.link {
	  position: relative;
	  display: block;
	  margin: 0;
	  width: 100%;
	  height: 127px;
	}
	  a.link.hme, a.link.abt, a.link.tdz, a.link.con {
	  position: relative;
	  display: block;
	  margin: 0;
	  width: 100%;
	  height: 69px;
	}
	a.link.abt {
	  height: 77px;
	}
	a.link.tdz {
	  height: 91px;
	}
	.logo {
	padding-left:0;
	  padding-top: 3em;
	}
	.logo a h1 span, .logo a span:hover {
	  font-size: 0.9em;
	}
	.send input[type="submit"] {
	  font-size: 1em;
	  padding: 0.5em 2em;
	}
	.abt-text{
	width:61%;
	  margin: 0 auto 0 26%;
	}
	.team-grids p {
	  font-size: 0.8em;
	}
	.col-md-6.video,.col-md-3.team-grids,.col-md-6.video-text,.col-md-9,.col-md-6.contact-grid,.col-md-6.contact-in,.col-md-3.footer-grid {
	    padding: 0px;
	}
	.designer-text,.designer-grid{
	 padding: 0px 14px;
	}
	a i.tag {
	  background: url(../images/icon-spt.png) no-repeat -96px 0px;
	  display: none;
	}
	p.write {
	  font-size: 0.8em;
	  margin-top: 0px;
	  line-height: 1.7em;
	}
	.designer-top {
	    margin: 0 auto 0 17%;
	}
	.footer-grids {
	  margin: 0 auto 0 23%;
	}
	.featured-section {
	  padding: 1em 0 1em 0;
	}
	.copyright {
	  padding: 0.6em 0 0.9em 3em;
	}
	.single {
	  margin: 0 auto 0 23%;
	  width: 70%;
	  padding-top: 1em;
	}
	.comments{
	   margin: 0px auto 0 22%;
  width: 71%;
	}
	.map {
	  width: 75%;
	  padding-left: 1em;
	  margin: 0 auto 0 18%;
	}
	.designer-top{
	  width: 83%;
	}
	p.lop {
	  width: 89%;
	  text-align: left;
	  margin: 0 auto;
	}
}
